@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
body{
    font-size:1.05em ;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    background: whitesmoke;
}
#header{
    text-align: left;
    
}


#search {
    background-color:pink;
    cursor: pointer;
}
#header-image{
    width:350px;
    height:100px;
    position: center;
    margin-top:1rem ;
}
#image-sizing{
    display:flex;
    justify-content: center;
}
img{
    width:100%;
    height:100%;
    object-fit:cover;
    /*display: block;
    margin-top: 0px;
    margin-bottom: auto;*/

}
.container{
    width:180px;
    background:#111;
    padding:0px 1px;
    border:0.1px dotted #444;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
}
.container .star-widget input{
    display: none;
}
.star-widget label{
    font-size:20px;
    color:#444;
    padding:4px;
    float:center;
    transition: all 0.2s ease;
    
}
 .star-widget input:not(:checked)~label:hover,
 .star-widget input:not(:checked)~label:hover~label{ 
    color: #fd4;
}
.star-widget input:checked ~ label{
    color:#fd4;
}
.star-widget input #rate-5:checked~label{
    color:#fe7;
    text-shadow:0 0 20px #952 ;
}


section{
  min-height:100vh ;
   width: 100%;
   display:flex;
   align-items: center;
   justify-content: center;
   padding: 100px 0;   
}

.grid-container{

  width: 100%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

 #title{
    text-align: center;
    font-size: 2.5rem;
}

form{
width:90%;
max-width: 400px;
margin:20px auto;
border-bottom: 20px;
padding: 0%;

}
form input{
padding:2px;
max-width:90% ;
background-color: azure;
border-radius:6px ;
border-style: double;
font-size: 1rem;

}
.results{
    margin-top:50px;
    width: 100%;
    display: grid;
    grid-gap:25px;
    grid-template: auto/repeat(auto-fit,minmax(300px, 1fr));
    border-radius: 1rem;
    /*box-shadow:0 4px 21px -12px ;
    margin-bottom: auto;*/
    
}

 .items{
    border-radius:8px;
    overflow: hidden;
    margin:2rem 0;
    box-shadow: 0 4px 21px -12px rgba(0,0,0,0.79);
    width:100%;
    padding:15px

}

.items-name,.recipe link{
    font-size: 1.4rem;
    text-align: center;
    padding: 1.5rem;
}

/*.mealwrapper{
    max-width: 1280px;
    margin:0 auto;
    padding:2rem;
    text-align:center;} */

.meal-img{
width:100%;
height:300px;
border-radius: 4px;
/*margin-bottom: auto;*/
    }
    .flex-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
